@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 600;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
    animation: fadeInVideo 1s ease-in-out;
}

@keyframes fadeInVideo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    background-image: url('resources_Portfolio/wallpaper/Background_4.png');
    font-family: "Poppins", sans-serif;
    color: white;
    width: 100%;
    height: 100dvh;
    background-color: #1a1a1a;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    transition: background-image 0.4s ease-in-out;
    animation: fadeInVideo 1s ease-in-out;
}   





/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 100%;
    position: sticky;
    top: 0px;
    background: transparent;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); */
    z-index: 999;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}

.navbar-logo {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 600;
}

.navbar-container .navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    gap: 1.5rem;
}

.navbar-container .navbar-menu li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active {
    background-color: rgba(50, 212, 229, 0.8);
    /* color: #162530; */
    color: white;
    border: solid transparent;
}   

.navbar-toggle {
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}   

.bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}





/* Responsive Navbar */

@media (max-width: 880px) {
    .navbar {
        backdrop-filter: none;
    }

    .bar {
        display: block;
    }

    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
    }

    .navbar-container .navbar-menu.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
        z-index: 999;
    }

    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (min-width: 480px) {
    .navbar-toggle {
        padding: 0 1rem;
    }

    .navbar-logo {
        font-size: 1.7rem;
    }

    .navbar-container .navbar-menu li a {
        font-size: 1.2rem;
        padding: 3px 15px;
    }
}





/* Content */

.header {
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    display: flex;
    margin-top: -90px;
    margin-bottom: 0px;
    background: rgba(0, 0, 0, 0.4);
}

.header h1 {
    font-size: 70px;
    margin-bottom: 5px;
}

.header p {
    font-size: 18px;
    margin-bottom: 10px;
}

.header .btn {
    display: inline-block;
    padding: 12px 17px 12px 30px;
    font-size: 18px;
    color: white;
    background-color: rgba(50, 212, 229, 0.8);
    border: none;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.header .btn:hover {
    background-color: rgba(50, 212, 229, 1);
}

.btn i {
    display: inline-flex;
    margin-left: 10px;
    margin-right: 0;
    align-items: center;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(4px); }
}





/* About Me */

.about {
    width: 100%;
    padding: 100px 0px;
    background-color: rgba(0, 0, 0, 0.7);
}

.about img {
    width: auto;
    height: 350px;
    border: 5px white solid; 
    border-radius: 20px;
    object-fit: cover;
}

.about-text {   
    width: 600px;
    text-align: justify;
}

.main {
    width: 1180px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    animation: appear linear;
    animation-timeline: view();
    animation-range: 0 40%;
}

.about-text h1 {
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.about-text h5 {
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

span {
    color: rgba(50, 212, 229, 1);

}

.about-text p {
    letter-spacing: 0.2px;
    line-height: 28px;
    margin-bottom: 25px;
    font-weight: 500;
}

button {
    margin-right: 15px;
    font-size: 25px;
    background-color: rgba(50, 212, 229, 0.8);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 8px 8px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.4s;
}

button:hover {
    background: transparent;
    border: 2px solid rgba(50, 212, 229, 0.8);
    cursor: pointer;
    /* background-color: rgba(50, 212, 229, 1); */
}





/* Scroll bar */

::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
}





/* Animation On Scroll */

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.8;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}





/* Footer */

.footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
    font-size: 14px;
}