@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 600;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
    animation: fadeInVideo 1s ease-in-out;
    filter: brightness(50%);
}

@keyframes fadeInVideo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    /* background-image: url('resources_Projects/wallpaper/Background-video.mp4'); */
    font-family: "Poppins", sans-serif;
    color: white;
    width: 100%;
    height: 100dvh;
    background-color: #1a1a1a;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    transition: background-image 0.4s ease-in-out;
    animation: fadeInVideo 1s ease-in-out;
}


/* Scroll bar */

::-webkit-scrollbar {
    /* display: none; */
    width: 12px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6);
}


/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    width: 100%;
    position: fixed;
    top: 0;
    background: transparent;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); */
    z-index: 999;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}

.navbar-logo {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 600;
}

.navbar-container .navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    gap: 1.5rem;
}

.navbar-container .navbar-menu li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active{
    background-color: rgba(50, 212, 229, 0.8);
    /* color: #162530; */
    color: white;
    border: solid transparent;
}   

.navbar-toggle {
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}   

.bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}





/* Responsive Navbar */

@media (max-width: 880px) {
    .navbar {
        backdrop-filter: none;
    }

    .bar {
        display: block;
    }

    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
    }

    .navbar-container .navbar-menu.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
        z-index: 999;
    }

    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media (min-width: 480px) {
    .navbar-toggle {
        padding: 0 1rem;
    }

    .navbar-logo {
        font-size: 1.7rem;
    }

    .navbar-container .navbar-menu li a {
        font-size: 1.2rem;
        padding: 3px 15px;
    }
}





/* Content */

.section {
    display: flex;
    height: 700px;
    width: fit-content;
    margin: 110px auto auto auto;
    padding: 2rem;
    gap: 1rem;
    border: 2px transparent rgba(50, 212, 229, 0.8);
    border-radius: 20px;  
    backdrop-filter: blur(10px);
    background: linear-gradient(to top, rgb(0, 150, 255, 0.15), rgb(255, 255, 255, 0.15));

    animation: appear linear;
    animation-timeline: view();
    animation-range: 0 40%;
}

.classwork_info {
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    padding: 2rem;
    gap: 1rem;
}

.classwork_info p {
    width: 420px;
    letter-spacing: 0.2px;
    font-weight: 500;
    text-align: justify;
    margin-bottom: 10px;
}

.classwork_info h1 {
    font-size: 42px;
}

.section .btn {
    width: fit-content;
    display: inline-block;
    padding: 12px 30px;
    font-size: 18px;
    color: white;
    background-color: rgba(50, 212, 229, 0.8);
    border: none;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.section .btn:hover {
    background-color: rgba(50, 212, 229, 1);
}

#frame_2 {
    margin-bottom: 50px;
}




/* Responsive Content */

.gallery {
    width: 700px;
    display: flex;
    margin: auto;
    overflow-x: scroll;
}

.gallery div {
    /* width: 100%; */
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    padding: 25px;
    flex: none;
}

.gallery div img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery div img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}





/* Animation On Scroll */

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.8;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}